<f:if condition="{processedRow.tx_minigallery_imagecomposition}">
    <strong><f:translate key="LLL:EXT:minigallery/Resources/Private/Language/locallang_db.xlf:tt_content.tx_minigallery_imagecomposition" /></strong>
    {processedRow.tx_minigallery_imagecomposition.0} (raw={row.tx_minigallery_imagecomposition})<br>
</f:if>
<f:if condition="{processedRow.tx_minigallery_images}">
    <strong><f:translate key="LLL:EXT:minigallery/Resources/Private/Language/locallang_db.xlf:tt_content.tx_minigallery_images" /></strong>
<br><f:for each="{processedRow.tx_minigallery_images}" as="item">
    <ul>
        <li>
    <ul>
        <f:for each="{item.uid_local}" as="file">
            <li><f:translate key="LLL:EXT:lang/locallang_tca.xlf:sys_file_reference.uid_local" /> {file.table}|{file.uid}|{file.title} (id={item.uid})</li>
        </f:for>
    </ul>
        </li>
    </ul>
</f:for>
</f:if>
