<html data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">
    <f:asset.css identifier="ext-minigallery-css" href="EXT:minigallery/Resources/Public/Css/minigallery.css" />
    <f:asset.script identifier="imagesloaded.pkgd.min.js" src="EXT:minigallery/Resources/Public/JavaScript/imagesloaded.pkgd.min.js" />
    <f:asset.script identifier="minigallery.min.js" src="EXT:minigallery/Resources/Public/JavaScript/minigallery.min.js" />

    <f:if condition="{data_tx_minigallery_images}">
        <div class="masonry-wrapper">
            <div class="masonry">
                <f:for each="{data_tx_minigallery_images}" as="file" iteration="iterator">
                    <div class="masonry-item item{iterator.cycle}">
                        <f:image image="{file}" alt="{file.alternative}" title="{file.title}" maxWidth="630" maxHeight="800" class="masonry-content"/>
                    </div>
                </f:for>
            </div>
        </div>
    </f:if>
</f:section>
</html>
